p, h1, h2 {
  margin: 0; }

.hidden {
  display: none; }

.container {
  position: relative;
  width: 7.2rem;
  margin: 0 auto;
  background: #1797eb;
  padding: 2.68rem 0 1.59rem; }
  .container .logo {
    position: absolute;
    z-index: 10;
    left: .44rem;
    top: .41rem;
    width: 1.8rem;
    height: .6rem;
    background: url(../img/logo.png) left top no-repeat;
    background-size: 1.8rem auto;
    text-indent: -999rem; }
  .container .topic {
    position: absolute;
    z-index: 8;
    left: 50%;
    top: .8rem;
    width: 6.2rem;
    height: 2.4rem;
    margin-left: -3.1rem; }
    .container .topic img {
      vertical-align: top;
      width: 6.2rem; }
  .container .question-header {
    position: relative;
    z-index: 9;
    width: 7.19rem;
    height: 3.94rem;
    margin-left: .01rem;
    background: url(../img/question-header.png) center top no-repeat;
    background-size: 6.2rem auto; }
  .container .question-body {
    text-align: center;
    background: url(../img/question-body.png) center top repeat-y;
    background-size: 6.2rem auto; }
    .container .question-body img {
      vertical-align: top;
      width: 5.2rem; }
  .container .question-footer {
    height: 2.1rem;
    background: url(../img/question-footer.png) center top no-repeat;
    background-size: 6.2rem auto; }
  .container .player-box {
    position: relative;
    height: 7.25rem;
    margin-top: .46rem;
    text-align: center; }
    .container .player-box .video-bg {
      position: absolute;
      z-index: 1;
      left: 0;
      top: 0;
      width: 7.2rem;
      height: 7.25rem;
      background: url(../img/video.png) center top no-repeat;
      background-size: 7.2rem auto;
      pointer-events: none; }
    .container .player-box .player {
      width: 5.6rem;
      height: 3.22rem;
      margin-top: 3.12rem; }
  .container .answer-header {
    height: 5.9rem;
    margin-top: .38rem;
    background: url(../img/answer-header.png) center top no-repeat;
    background-size: 7.2rem auto; }
  .container .answer-body {
    padding-bottom: .8rem;
    text-align: center;
    background: url(../img/answer-body.png) center top repeat-y;
    background-size: 7.2rem auto; }
    .container .answer-body img {
      vertical-align: top;
      width: 5.2rem; }
  .container .answer-footer {
    height: 1.8rem;
    margin-top: -.8rem;
    background: url(../img/answer-footer.png) center top no-repeat;
    background-size: 7.2rem auto; }
  .container #share {
    display: block;
    width: 4.2rem;
    height: .8rem;
    margin: .7rem auto .6rem; }
    .container #share img {
      vertical-align: top;
      width: 100%; }

#banner {
  position: fixed;
  z-index: 99;
  left: 50%;
  bottom: 0;
  width: 7.2rem;
  height: 1.59rem;
  margin-left: -3.6rem;
  background: #fff; }
  #banner .icon-app {
    float: left;
    width: 1.16rem;
    height: 1.16rem;
    margin: .21rem 0 0 .33rem; }
  #banner .content {
    float: left;
    margin-left: .27rem;
    line-height: 1; }
    #banner .content h1 {
      font-size: .3rem;
      margin-top: .43rem; }
    #banner .content h2 {
      font-size: .26rem;
      font-weight: normal;
      color: #898989;
      margin-top: .15rem; }
  #banner .btn-download {
    float: right;
    margin: .51rem .39rem 0 0; }
    #banner .btn-download img {
      display: block;
      width: 1.8rem;
      height: .6rem; }

#mask-share {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7); }
  #mask-share .content {
    float: right;
    margin: .25rem .46rem 0 0;
    padding-top: 1.6rem;
    width: 5rem;
    font-size: .38rem;
    font-weight: bold;
    line-height: 1.4;
    color: #fff;
    text-align: right;
    background: url(../img/img-share.png) right top no-repeat;
    background-size: 1.3rem auto; }
