<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
  <meta charset="UTF-8">
  <title>洋葱数学 中考数学送分题！</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"/>
  <meta name="format-detection" content="telephone=no" />
  <script src="/js/lib/viewport.js"></script>
  <link rel="stylesheet" href="../css/lib/normalize.css"/>
  <link rel="stylesheet" href="../css/lib/katex.min.css"/>
  <link rel="stylesheet" href="../css/index.css"/>
</head>
<body>
<div style="position: absolute; left: 0; top: 0; width: 0; height: 0;
overflow: hidden">
  <img src="../img/wx-share.png" />
</div>
<div class="container">
  <img class="img-bg" src="../img/bg-part-1.png"/>
  <img class="img-bg" src="../img/bg-part-2.png"/>
  <img class="img-bg" src="../img/bg-part-3.png"/>
  <img class="img-bg" src="../img/bg-part-4.png"/>
  <img class="img-bg" src="../img/bg-part-5.png"/>
  <img class="img-bg" src="../img/bg-part-6.png"/>
  <img class="img-bg" src="../img/bg-part-7.png"/>
  <img class="img-bg" src="../img/bg-part-8.png"/>
  <div class="player-box">
    <video id="video" class="player" poster="http://7sbkoa.com2.z0.glb.qiniucdn.com/%E4%B8%80%E6%AC%A1%E5%87%BD%E6%95%B0_11bI_%E5%BE%85%E5%AE%9A%E7%B3%BB%E6%95%B0%E6%B3%95%E6%B1%82%E4%B8%80%E6%AC%A1%E5%87%BD%E6%95%B0%E8%A7%A3%E6%9E%90%E5%BC%8F.bmp" preload="none" controls>
      您的浏览器不支持视频播放。
    </video>
  </div>
  <a id="share" href="#"><img src="../img/btn-share.png" alt="分享给小伙伴"/></a>
  <!--<div id="formula1"></div>-->
  <div id="banner">
    <img class="icon-app" src="../img/img-app.png" alt="洋葱数学App"/>
    <div class="content">
      <h1>洋葱数学</h1>
      <h2>超有意思的初中数学APP</h2>
    </div>
    <a class="btn-download" href="#">
      <img src="../img/btn-download.png" alt="立即下载"/>
    </a>
  </div>
</div>
<div id="mask-share" class="hidden">
  <p class="content">
    点击右上角<br>把题目分享给更多小伙伴
  </p>
</div>

<script src="/js/lib/lib.js"></script>
<script src="/js/lib/hls.min.js"></script>
<!--<script src="/js/lib/katex.min.js"></script>-->
<script src="/js/index.js"></script>
</body>
</html>
