<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
  <meta charset="UTF-8">
  <title>做会这道题，中考数学还能再拿10分</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"/>
  <meta name="format-detection" content="telephone=no" />
  <!-- build:js viewport.js-->
  <script src="../js/lib/viewport.js"></script>
  <!-- endbuild -->
  <!-- build:css bundle.css -->
  <link rel="stylesheet" href="../css/lib/normalize.css"/>
  <link rel="stylesheet" href="../css/index.css"/>
  <!-- endbuild -->
</head>
<body>
<div class="container">
  <div class="logo">洋葱数学</div>
  <div class="topic"><img src="../img/topic.png"/></div>
  <div class="question-header"></div>
  <div class="question-body">
    <img src="../img/question.png" alt="题目"/>
  </div>
  <div class="question-footer"></div>
  <div class="player-box">
    <video id="video" class="player" poster="../img/poster.bmp" preload="none" controls>
      您的浏览器不支持视频播放。
    </video>
    <div class="video-bg"></div>
  </div>
  <div class="answer-header"></div>
  <div class="answer-body">
    <img src="../img/answer.png" alt="答案"/>
  </div>
  <div class="answer-footer"></div>
  <a id="share" href="#"><img src="../img/btn-share.png" alt="分享给小伙伴"/></a>
  <div id="banner">
    <img class="icon-app" src="../img/img-app.png" alt="洋葱数学App"/>
    <div class="content">
      <h1>洋葱数学</h1>
      <h2>超有意思的初中数学APP</h2>
    </div>
    <a class="btn-download" href="#">
      <img src="../img/btn-download.png" alt="立即下载"/>
    </a>
  </div>
</div>
<div id="mask-share" class="hidden">
  <p class="content">
    点击右上角<br>把题目分享给更多小伙伴
  </p>
</div>
<div id="pageInfo" class="hidden" problemId="@@problemId" videoId="@@videoId" mobileMp4="@@mobileMp4" shareTitle="@@shareTitle" shareDesc="@@shareDesc" imgUrl="@@imgUrl" link="@@link"></div>

<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script src="http://qzonestyle.gtimg.cn/qzone/qzact/common/share/share.js"></script>
<!-- build:js bundle.js -->
<script type="text/javascript" src="../js/lib/jquery-2.2.3.min.js"></script>
<script src="../js/lib/lib.js"></script>
<!--<script src="../js/lib/hls.min.js"></script>-->
<script src="../js/index.js"></script>
<!-- endbuild -->
</body>
</html>
