<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
  <meta charset="UTF-8">
  <title>洋葱数学</title>
  <script src="/js/lib/viewport.js"></script>
  <link rel="stylesheet" href="../css/lib/normalize.css"/>
  <link rel="stylesheet" href="../css/lib/katex.min.css"/>
  <link rel="stylesheet" href="../css/index.css"/>
</head>
<body>
<div style="position: absolute; left: 0; top: 0; width: 0; height: 0;
overflow: hidden">
  <img src="http://ww3.sinaimg.cn/mw690/b182dd7ajw1ex7xn200csj20k00kan0v.jpg" />
</div>
<div class="container">
  <video id="video" style="border: 1px solid #ccc;" poster="http://ww3.sinaimg.cn/mw690/b182dd7ajw1ex7xn200csj20k00kan0v.jpg" controls>
    您的浏览器不支持 video 标签。
  </video>
  <div id="formula1"></div>
</div>

<script src="/js/lib/hls.min.js"></script>
<script src="/js/lib/katex.min.js"></script>
<script src="/js/index.js"></script>
<script>
  if(Hls.isSupported()) {
    var video = document.getElementById('video');
    var hls = new Hls();
    hls.loadSource('http://pchls.media.yangcong345.com/pcM_571bc8fc9fcb86114c61cfe5.m3u8');
    hls.attachMedia(video);
    hls.on(Hls.Events.MANIFEST_PARSED,function() {
        video.play();
    });
  }
</script>
</body>
</html>
